backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img
site_url: https://cohd.cf
logo_url: https://cohd.cf/icon.png

collections:
  - name: 'blog'
    label: 'Blog'
    format: 'json'
    folder: 'content/blog'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: true
    fields:
      - { label: 'Episode #', name: 'title', widget: 'number' }
      - { label: 'Current Date', name: 'description', widget: 'datetime' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'eps'
    label: 'Episode Release Announcement'
    format: 'json'
    folder: 'content/episodes'
    create: true
    slug: '{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
